{% extends "./base.html" %}
{% block title %}Index{% endblock %}

{% block header_title%}Add multiple farmer cows for Farmer <br> <strong>{{phone_no}}</strong>{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table" id="cowIdentificationTable">
          <thead>
            <tr>
              <th>Cow Name/ID</th>
              <th>Birth Date</th>
              <th>Age</th>
              <th>Breed</th>
              <th>Clear</th>
            </tr>
          </thead>
          <tbody>
            <!-- Rows will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary mr-2" id="addRowBtn">Add Row</button>
        <button class="btn btn-success" id="submitAllBtn">Submit All</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
//<script>
// Function to add a new row
function addRow() {
  $('#cowIdentificationTable tbody').append(
      `<tr>
          <td><input type="text" class="form-control" name="unique_id[]"></td>
          <td><input type="date" class="form-control" name="birth_date[]"></td>
          <td><input type="number" class="form-control" name="age[]" style="width: 70px;"></td>
          <td><input type="text" class="form-control" name="breed[]" style="width: 120px;"></td>
          <td><button type="button" class="btn btn-link clearRowBtn"><i class="fas fa-times text-danger"></i></button></td>
      </tr>`
  );
}


// Add row when the button is clicked
$('#addRowBtn').click(function() {
  addRow();
});

// Clear row when the "X" icon is clicked
$(document).on('click', '.clearRowBtn', function() {
  $(this).closest('tr').remove();
});

// Submit all rows when the "Submit All" button is clicked
$('#submitAllBtn').click(function() {
  var data = [];
  // Loop through each row in the table
  $('#cowIdentificationTable tbody tr').each(function() {
    var row = {};
    // Get values from input fields in the current row
    row.unique_name_or_id = $(this).find('input[name="unique_id[]"]').val();
    row.birth_date = $(this).find('input[name="birth_date[]"]').val();
    row.age = $(this).find('input[name="age[]"]').val();
    row.breed = $(this).find('input[name="breed[]"]').val();
    // Add row data to the list
    data.push(row);
  });
  // Print the data to the console
  console.log(JSON.stringify(data));
});

{% endblock %}